streamlit==1.54.0
pandas==2.2.2
numpy==1.26.4
xgboost==2.0.3
nltk
emoji
openpyxl==3.1.5
deep_translator==1.9.1
scikit-learn==1.6.1   # or whatever exact version you used (e.g. ==1.5.2)
joblib>=1.2.0         # usually fine, but match if needed
